/* You can add global styles to this file, and also import other style files */
.pageHeader {
    padding: 20px;
    text-align: center;
    background: #d7dfe7;
    color: white;
    font-size: 15px;
  }

  .line {
    width: 53px;
    height: 0;
    border: 1px solid #C4C4C4;
    margin: 3px;
    display:inline-block;
  }

  /* #d9d359;   */
  /* #3f61d1; */
  /* #d7dfe7; */